<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>auth_selection</key>
	<dict>
		<key>title</key>
		<string>Регистрация</string>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>facebook</string>
				<key>title</key>
				<string>Facebook</string>
			</dict>
			<dict>
				<key>name</key>
				<string>twitter</string>
				<key>title</key>
				<string>Twitter</string>
			</dict>
			<dict>
				<key>name</key>
				<string>manual</string>
				<key>title</key>
				<string>ФИО + Email</string>
			</dict>
		</array>
	</dict>
	<key>observer_info</key>
	<dict>
		<key>title</key>
		<string>Наблюдатель</string>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>user_id</string>
				<key>title</key>
				<string>ID пользователя</string>
				<key>control</key>
				<integer>7</integer>
				<key>hint</key>
				<string>вы не прошли регистрацию</string>
			</dict>
			<dict>
				<key>name</key>
				<string>official_observer</string>
				<key>title</key>
				<string>Вы официальный наблюдатель?</string>
				<key>control</key>
				<integer>4</integer>
				<key>hint</key>
				<string>Фото удостоверения</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
