<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sos_report</key>
	<dict>
		<key>title</key>
		<string>Сообщите нам об удалении</string>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>sos_report_text</string>
				<key>title</key>
				<string>Текст сообщения</string>
				<key>hint</key>
				<string>введите сообщение</string>
				<key>control</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>sos_report_photo</string>
				<key>control</key>
				<integer>4</integer>
				<key>hint</key>
				<string>Сделайте фотографию</string>
			</dict>
			<dict>
				<key>name</key>
				<string>sos_report_video</string>
				<key>control</key>
				<integer>5</integer>
				<key>hint</key>
				<string>Снимите видео</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
