<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ballot_district_info</key>
	<dict>
		<key>title</key>
		<string>Избирательный участок</string>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>district_number</string>
				<key>title</key>
				<string>Номер избирательного участка</string>
				<key>control</key>
				<integer>1</integer>
				<key>hint</key>
				<string>введите номер</string>
				<key>required</key>
				<true/>
			</dict>
			<dict>
				<key>name</key>
				<string>district_type</string>
				<key>title</key>
				<string>Тип участка</string>
				<key>control</key>
				<integer>2</integer>
				<key>hint</key>
				<string>выберите</string>
				<key>possible_values</key>
				<array>
					<dict>
						<key>value</key>
						<string>uik</string>
						<key>title</key>
						<string>УИК</string>
					</dict>
					<dict>
						<key>value</key>
						<string>tik</string>
						<key>title</key>
						<string>ТИК</string>
					</dict>
					<dict>
						<key>value</key>
						<string>ikmo</string>
						<key>title</key>
						<string>ИКМО</string>
					</dict>
				</array>
				<key>required</key>
				<true/>
			</dict>
			<dict>
				<key>name</key>
				<string>district_chairman</string>
				<key>title</key>
				<string>Председатель</string>
				<key>control</key>
				<integer>0</integer>
				<key>hint</key>
				<string>ФИО</string>
			</dict>
			<dict>
				<key>name</key>
				<string>district_secretary</string>
				<key>title</key>
				<string>Секретарь</string>
				<key>control</key>
				<integer>0</integer>
				<key>hint</key>
				<string>ФИО</string>
			</dict>
			<dict>
				<key>name</key>
				<string>district_watchers_count</string>
				<key>title</key>
				<string>Всего наблюдателей</string>
				<key>control</key>
				<integer>1</integer>
				<key>hint</key>
				<string>введите число</string>
			</dict>
			<dict>
				<key>name</key>
				<string>district_banner_photo</string>
				<key>title</key>
				<string>Вывеска на участке</string>
				<key>control</key>
				<integer>4</integer>
				<key>hint</key>
				<string>Фото</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
