<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>section_about</key>
	<dict>
		<key>title</key>
		<string>О вас</string>
		<key>order</key>
		<integer>0</integer>
		<key>screens</key>
		<array>
			<dict>
				<key>title</key>
				<string>Персональная информация</string>
				<key>items</key>
				<array>
					<dict>
						<key>name</key>
						<string>last_name</string>
						<key>title</key>
						<string>Фамилия</string>
						<key>control</key>
						<string>UITextField</string>
						<key>required</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>first_name</string>
						<key>title</key>
						<string>Имя</string>
						<key>control</key>
						<string>UITextField</string>
						<key>required</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>middle_name</string>
						<key>title</key>
						<string>Отчество</string>
						<key>control</key>
						<string>UITextField</string>
						<key>required</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>Регион</string>
				<key>items</key>
				<array>
					<dict>
						<key>name</key>
						<string>region_name</string>
						<key>title</key>
						<string>Название региона</string>
						<key>control</key>
						<string>UITextField</string>
						<key>required</key>
						<false/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>section_elections_district</key>
	<dict>
		<key>title</key>
		<string>Избирательный участок</string>
		<key>order</key>
		<integer>1</integer>
		<key>screens</key>
		<array>
			<dict>
				<key>title</key>
				<string>Избирательный участок</string>
				<key>items</key>
				<array>
					<dict>
						<key>name</key>
						<string>district_type</string>
						<key>title</key>
						<string>Тип участка</string>
						<key>control</key>
						<string>UIPickerView</string>
						<key>required</key>
						<true/>
						<key>possible_values</key>
						<array>
							<dict>
								<key>value</key>
								<string>uik</string>
								<key>title</key>
								<string>УИК</string>
							</dict>
							<dict>
								<key>value</key>
								<string>tik</string>
								<key>title</key>
								<string>ТИК</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>district_number</string>
						<key>title</key>
						<string>Номер избирательного участка</string>
						<key>control</key>
						<string>UITextField</string>
						<key>required</key>
						<true/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>section_before_elections</key>
	<dict>
		<key>title</key>
		<string>УИК: до голосования</string>
		<key>order</key>
		<integer>2</integer>
		<key>screens</key>
		<array>
			<dict>
				<key>title</key>
				<string>Допуск на участок</string>
				<key>items</key>
				<array>
					<dict>
						<key>name</key>
						<string>admitted</string>
						<key>title</key>
						<string>Были ли Вы допущены на участок до 8:00?</string>
						<key>control</key>
						<string>UISwitcher</string>
						<key>required</key>
						<true/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>section_during_elections</key>
	<dict>
		<key>title</key>
		<string>УИК: ход голосования</string>
		<key>order</key>
		<integer>3</integer>
		<key>screens</key>
		<array>
			<dict>
				<key>title</key>
				<string>Урны в поле зрения</string>
				<key>items</key>
				<array>
					<dict>
						<key>name</key>
						<string>ballot_box_visible</string>
						<key>title</key>
						<string>Находят ли в поле зрения урны/ящики для голосования?</string>
						<key>control</key>
						<string>UISwitcher</string>
						<key>required</key>
						<true/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>section_counting</key>
	<dict>
		<key>title</key>
		<string>УИК: подсчет голосов и оформление протокола</string>
		<key>order</key>
		<integer>4</integer>
		<key>screens</key>
		<array>
			<dict>
				<key>title</key>
				<string>Неиспользованные бюллетени</string>
				<key>items</key>
				<array>
					<dict>
						<key>name</key>
						<string>unused_counting_started_immediately</string>
						<key>title</key>
						<string>подсчет неиспользованных бюллетеней начался НЕМЕДЛЕННО после окончания голосования?</string>
						<key>control</key>
						<string>UISwitcher</string>
						<key>required</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>unused_counting_finished_before_other_activities</string>
						<key>title</key>
						<string>неиспользованные бюллетени подсчитаны и погашены ДО всех других действий по подсчету?</string>
						<key>control</key>
						<string>UISwitcher</string>
						<key>required</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>unused_recorded_immediately</string>
						<key>title</key>
						<string>число неиспользованных бюлетеней занесено СРАЗУ после подсчета в увеличенную форму протокола?</string>
						<key>control</key>
						<string>UISwitcher</string>
						<key>required</key>
						<true/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
